body{
    background-color: #000000;
    color: gold;
}
header{
    margin-top: 20px;
    padding-bottom: 2rem;
}
header h1 {
    display: none;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logoimg {
    height: 50%;
    width: 50%;
}

#pannel {
    display: flex;
    flex-direction: column;
    color: #000000;
    text-decoration: none;
    padding-bottom: 2rem;
}

#pannel ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#pannel ul li {
    padding: 10px;
    margin: 2px;
}

#pannel a {
    display: block;
    text-decoration: none;
    color: gold;

    text-align: center;
    padding: 15px 75px
}

#pannel a:hover {
    color: rgb(255, 242, 171);
    background-color: #4c4f3d;
}

main{
    background-color: #31312f;
    padding: 5px;
    padding-top: 55px;
}
main article{
    display: flex;
    flex-direction: column; 
}
main article h2{
    color: #238913;
    font-size: 120%;
    padding-bottom: 20px;
}
footer {
    background-color: #950606;  
    margin-top: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 1rem;
}

.footer-left,.footer-right {
    width: 50%;
}

.footer-left h4, .footer-right h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-left p, .footer-right p {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

@media screen and (max-width:800px){
    #menu article div{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:400px){
    #logoimg{
        width: 30%;
        height: 30%;
    }
}
@media screen and (min-width:725px) {
    #pannel ul{
        flex-direction: column;
        height: 0.8vw;
        margin: 30px;
        padding: 15px;
    }
}
@media screen and (min-width:600px){
    #logoimg{
        width: 25%;
        height: 25%;
    }
}
@media screen and (min-width:800px){
    main article{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
}
@media screen and (min-width:900px){
    #logoimg{
        width: 15%;
        height: 15%;
    }
    .image_perso{
        height: 30%;
        width: 30%;
    }
}